{% extends "base.djhtml" %}
{% block content %}
<div class="matchTitleWidth matchTitleHeight" style="background-color: black;">
  <div class="innerContainer" style="width: 300px;">
    <div id="helper" class="initiate">
      <font size="5">Authentication Node</font>
      {% if form.errors %}
      <p>Your username and password<br />
	didn't match.<br />
	Please try again.</p>
      {% endif %}
      <form method="post" action=".">
	{% csrf_token %} 
	{{ form.as_p }}
	<input type="submit" value="Log in" />
	<input type="button" value="Go Back" onclick="location.href='/';" />
      </form>
      <br />
      <a href="/register/">Guess I need to make one!</a>
    </div>
  </div>
</div>
<img id="cover" src="{{ STATIC_URL }}images/cBox_closed.jpg" alt="Circuit Board Box - Theo Kamecke" title="Circuit Board Box - Theo Kamecke" style="position: relative; top: -520px; left: 60px;  border-radius: 10px;" />

<script type="text/javascript">
$(function() {
    $("#footer").css("top","-471px");
    $("#cover").fadeOut(1500);
    setTimeout(function() { $("#footer").css("top", 0); }, 1500);
    setTimeout(function() { $(".initiate").css('opacity',1); }, 3000);
    $(".matchTitleWidth").animate({ backgroundColor: '#dadada' }, 8000);
});
</script>
{% endblock %}
